@media screen and (max-width: 480px) {
	main .content {
		width: 100%;
	}

	main .content section {
		min-height: auto;
	}

	#cover img {
	    max-width: 5em;
	}


	header #btLogout {
		visibility: hidden;
	}

	header #btLogoutSmall {
		visibility: visible;
		position: absolute;
		right: 0;
		top: 0;
		margin: 0.1em 1em;
		font-size: 2em;
	}

}