@media screen and (max-width: 640px) {
    /****** SongQuiz - CSS Bootstrap Customization Responsive 640px******/
    html, body{
        font-size: 1em;
        background: url("../img/WilliamIven_mobile.jpg") no-repeat center center fixed; 
    }

    header{
        height: 40px;
        width: 100%;
    }

    h1{
        font-size: 1.5em;
    }

    h3{
        font-size: 1.5em;
    }

    /*-------------- Main Container --------------*/
    main{
        padding-top: 40px;
    }

    main .content {
        width: 100%;
        height: 100%;
    }

    main .content section {
        min-height: 100%;
        margin:5px;
        padding: 10px 5px;
    }
    /*-------------- Cover Section --------------*/
    #cover img{
        margin: 20px 10px;
        max-width: 7em;
    }

    #cover p{
        font-size: 0.9em;
    }

    /*-------------- Table Section --------------*/
    #score table {
        min-width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #score table tr:first-child {
        font-weight: bold;
    }
    /*-------------- Buttons & Textelements --------------*/
    button, input {
        min-height: 2em;
        height: auto;
        margin: 1em auto;
        max-width: 12em;
        width: 100%;
        font-size: 1em;
        font-weight: normal;
        border-radius: 0;
    }

    button, input, select, textarea {
        margin-bottom: 5px;
    }

    #btLogout {
        visibility: hidden;
    }

    #btLogoutSmall {
        visibility: visible;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0em 0.3em;
        font-size: 2em;
    }

    #game .btGuess {
        min-height: 2em;
    }

    #game #next {
        right: 15px;
        bottom: 5px;
        max-width: 2em;
        font-size: 1.5em;
    }
    
    #game #next .fa {
        font-size: 1.5em;
    }


    #game button#guess3 {
        margin-bottom: 60px;
    }

    .desktop {
        display: none;
    }
}