/****** SongQuiz - CSS Bootstrap Customization ******/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    background-image: url("../img/startbg-hell.jpg");
    background-size: cover;
}

header{
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    height: 51px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
header .wrapper {
    position: relative;
}

header h3{
    font-size: 1.5em;
    color: black;
    margin: 10px 0;
    text-align: center;

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/*-------------- Main Container --------------*/
main{
    padding-top: 80px;
}

main .content {
    width: 50%;
    float: left;
}

main .content section {
    min-height: 560px;
    text-align: center;    
    background: rgba(200, 200, 200, 0.6);
    margin:10px;
    padding: 20px 10px;
}

/*-------------- Hide Sections --------------*/
#start{
    display: none;
}
#game{
    display: none;
}
#cover{
    display: none;
}
#score{
    display: none;
}
#login{
    display: block;
}
#reg{
    display: none;
}
#gameover{
    display: none;
}

/*-------------- Game Section --------------*/

#game span {
    text-align: center;
}

#game button {
    display: block;
}

/*-------------- Cover Section --------------*/
#cover img{
    margin: 40px 20px;
}

/*-------------- Table Section --------------*/
#score table {
    min-width: 200px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

#score table tr:first-child {
    font-weight: bold;
}

/*-------------- Buttons & Textelements --------------*/

h1 {
    margin-bottom: 20px;
}
button, input {
    min-height: 1em;
    margin: 1em auto;
    max-width: 15em;
    width: 100%;
}
button, input, select, textarea {
    margin-bottom: 10px;
}
button {
    font-weight: bold;
    height: 3em;
}
#btLogout {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 10px;
    height: 2em;
    max-width: 9em;
}
#btLogoutSmall {
    visibility: hidden;
    color: #3F3250;
    display: block;
}
.btn-violet {
    background-color: #3F3250;
    border-color: #562f6d;
    color: #FFF;
    opacity: 0.9;

}
.btn-violet:hover {
    opacity: 1.0;
    background-color:#562f6d;
}
.btn-white {
    border-color: #3F3250;
    background-color: #FFF;
    color: #562f6d;
    opacity: 0.9;

}
.btn-white:hover {
    opacity: 1.0;
    background-color:#FFF;
}
.btn-correct,
.btn-correct:hover,
.btn-correct:focus,
.btn-correct:active {
    background-color: #67B27A;
    border-color: #67B27A;
    color: #FFF;
    opacity: 0.9;
}
.btn-correctWouldHaveBeen,
.btn-correctWouldHaveBeen:hover,
.btn-correctWouldHaveBeen:focus,
.btn-correctWouldHaveBeen:active  {
    background-color: #67B27A;
    border-color: #67B27A;
    color: #FFF;
    opacity: 0.6;
}
.btn-wrong,
.btn-wrong:hover,
.btn-correctWouldHaveBeen:focus,
.btn-correctWouldHaveBeen:active  {
    background-color: #E14658;
    border-color: #E14658;
    color: ghostwhite;
    opacity: 0.9;
}


#game {
    position: relative;
}

#game #next {
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 4em;
    background: transparent;
    border: none;
    color: #3F3250;
}

#game #next .fa {
    text-shadow: 4px 2px 6px #000;
    font-size: 3em;
}

#game #next .fa:hover {
    color: #562f6d;
}

#chartContainer {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#chartContainer {
    min-height: 250px;
    max-width: 250px;
    position: relative;
     margin: 0 auto;
    display: block;
}
