/****** SongQuiz - CSS Bootstrap Customization ******/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    background-image: url("../img/startbg-hell.jpg");
    background-size: cover;
}

header{
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

header h3{
    font-size: 1.5em;
    color: black;
    margin: 10px 20%;
    text-align: center;
}

/*-------------- Main Container --------------*/
main{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

main .content {
    width: 50%;
    float: left;
}

main .content section {
    min-height: 560px;
    text-align: center;    
    background: rgba(200, 200, 200, 0.6);
    margin:10px;
    padding: 20px 10px;
}

/*-------------- Hide Sections --------------*/
#start{
    display: none;
}
#game{
    display: none;
}
#cover{
    display: none;
}
#score{
    display: none;
}
#login{
    display: block;
}
#reg{
    display: none;
}

/*-------------- Game Section --------------*/

#game span {
    text-align: center;
}

#game button {
    display: block;
}

/*-------------- Cover Section --------------*/
#cover img{
    margin: 40px 20px;
}

/*-------------- Table Section --------------*/
#score table {
    min-width: 200px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

#score table tr:first-child {
    font-weight: bold;
}

/*-------------- Buttons & Textelements --------------*/

h1 {
    margin-bottom: 20px;
}

button, input {
    height: 3em;
    margin: 1em auto;
    max-width: 15em;
    width: 100%;
}

button, input, select, textarea {
    margin-bottom: 10px;
}
button {
        font-weight:    bold;
}

.btn-violet {
    background-color: #7C4C98;
    border-color: #562f6d;
    color: #FFF;
    opacity: 0.9;

}
.btn-violet:hover {
    opacity: 1.0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7C4C98), color-stop(1, #562f6d));
    background:-moz-linear-gradient(top, #7C4C98 5%, #562f6d 100%);
    background:-webkit-linear-gradient(top, #7C4C98 5%, #562f6d 100%);
    background:-o-linear-gradient(top, #7C4C98 5%, #562f6d 100%);
    background:-ms-linear-gradient(top, #7C4C98 5%, #562f6d 100%);
    background:linear-gradient(to bottom, #7C4C98 5%, #562f6d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7C4C98', endColorstr='#562f6d',GradientType=0);
    background-color:#7C4C98;
}

.btn-white {
    border-color: #7C4C98;
    background-color: #FFF;
    color: #562f6d;
    opacity: 0.9;

}
.btn-white:hover {
    opacity: 1.0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #cccccc));
    background:-moz-linear-gradient(top, #FFF 5%, #cccccc 100%);
    background:-webkit-linear-gradient(top, #FFF 5%, #cccccc 100%);
    background:-o-linear-gradient(top, #FFF 5%, #cccccc 100%);
    background:-ms-linear-gradient(top, #FFF 5%, #cccccc 100%);
    background:linear-gradient(to bottom, #FFF 5%, #cccccc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#cccccc',GradientType=0);
    background-color:#FFF;
}



